name: Security and code analysis

on:
  workflow_call:
    inputs:
      deploy:
        description: 'Deploy to GitHub Pages (true/false)'
        required: false
        default: 'false'
        type: string

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      
      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install Safety
        run: pip install safety

      - name: Run Safety check
        run: safety check --full-report

  code_analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2

      - name: Autobuild
        uses: github/codeql-action/autobuild@v2

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
        with:
          output: codeql-results
